@import "../../../styles/variables.scss";

.content__wrapper {
  background: $mainGray;
  box-shadow: 0px 4px 27px 0px rgba(230, 231, 234, 0.78);
  .content_top {
    display: flex;

    .content__column {
      border-color: $mainGray;
      display: flex;
      gap: 30px;

      p {
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}
