@import "../../../styles/variables.scss";

.search__wrapper {
  width: 631px;
  background-color: $searchGray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 23px;

  input,
  button {
    background: transparent;
    border: none;
    outline: none;
  }

  .search__input {
    width: 100%;
    padding: 16px 26px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding-right: 0;
    &::placeholder {
      color: #b2b7bf;
    }
  }

  .search__button {
    padding: 16px 24px;
    padding-left: 0;
    cursor: pointer;
  }
}
