.head__column {
  border: 1px solid #e3e6ec;
  max-height: 52px;
  width: 100%;
  width: 100%;
  right: -1px;
  margin-top: -1px;
  display: flex;
  align-items: center;
  padding: 14px 12px;

  @media (max-width: 330px) {
    padding: 14px 10px;
  }
}

.body__column {
  border: 1px solid #e3e6ec;
  min-height: 87px;
  width: 100%;
  width: 100%;
  right: -1px;
  margin-top: -1px;
  display: flex;
  align-items: center;
  padding: 14px 12px;
}
