.head__column {
  border: 1px solid #e3e6ec;
  max-height: 52px;
  min-width: 90px;
  width: 100%;
  right: -1px;
  margin-top: -1px;
  display: flex;
  align-items: center;
  padding: 14px 12px;
}

.body__column {
  border: 1px solid #e3e6ec;
  min-height: 87px;
  min-width: 90px;
  width: 100%;
  right: -1px;
  margin-top: -1px;
  display: flex;
  align-items: center;
  padding: 14px 12px;
}
